{% extends 'base.html.twig' %}

{% block title %}Mesures {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <table class="table table-hover table-light">
                                <thead>
                                <tr>
                                    <th>Identifiant</th>
                                    <th>Libelle</th>
                                    <th>Valeur</th>
                                    <th>Unite</th>
                                    <th>Heure</th>
                                    <th>Maintenance</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>Actions</th>
                                    {% endif %}
                                </tr><
                                </thead>
                                <tbody>
                                {% for mesure in mesures %}
                                    <tr>

                                        <td> {{ mesure.id }}</td>
                                        <td> {{ mesure.libelleMesures.libelle }}</td>
                                        <td> {{ mesure.valeur }}</td>
                                        <td> {{ mesure.libelleMesures.unite }}</td>
                                        <td>{{ mesure.createdAt ? mesure.createdAt|date('Y-m-d H:i') : '' }}</td>
                                        <td>{{ mesure.maintenance}}</td>
                                        <td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                {{ include('mesures/_delete_form.html.twig') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Pas de données</td>
                                    </tr>
                                {% endfor %}
                            </table>
                <div class="pagination">
                    {{ knp_pagination_render(mesures) }}
                </div>
            </div>
            <div class="col-md-2">
                <form role="form" method="get">
                    <button type="submit" name="submit2" class="btn btn-primary" value="redirect">
                        Rechercher par date
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}